# env files
.env
.env.*

# node modules
node_modules/

# logs
*.log

# build
dist
build

# OS files
.DS_Store

# backend env
Backend/.env

# frontend node modules
Frontend/node_modules
Backend/node_modules